Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-magic-numbers

WarningsAsErrors: '*'

HeaderFilterRegex: 'src/'

AnalyzeTemporaryDtors: false

FormatStyle: none
